
  
* {
    font-family: 'JetBrains Mono', monospace;
 
}

subtitle {
    font-size: 30px;
    color: #DDB6F2;
}

paragraph {
    font-size: 20px;
    color: #DDB6F2;
}

.background, .blur {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background {
    background-color: black;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    background-image: url(./flag.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(100px);
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);

}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inline-block {
    display: inline-block;
 }


.icon {
    width: 65px;
    height: 65px;
    padding-right: 8px;
}
